body,
html {
  background-color: white;
  height: 100%;
  margin: 0;
}

a {
  color: rgb(0, 149, 255);
}

a:visited {
  color: #ff00ea;
}

a:hover {
  color: #00d0ff;
}

a:active {
  color: #ff0000;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
  text-align: center;
  white-space: nowrap;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  text-align: center;
}

@keyframes borderAnimation {
  0% {
    border-color: black;
  }

  50% {
    border-color: gold;
  }

  100% {
    border-color: black;
  }
}

@keyframes color {
  0% { color: red; }
  20% { color: yellow; }
  40% { color: green; }
  60% { color: blue; }
  80% { color: purple; }
  100% { color: red; }
}

.animate {
  font-size: 32px;
  font-weight: bold;
  animation: color 1s infinite;
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.box-div {
  border: 4px solid black;
  border-radius: 15px;
  max-width: 500px;
  padding: 10px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-div1 {
  border: 4px solid black;
  border-radius: 15px;
  animation: borderAnimation 3s infinite;
  max-width: 500px;
  padding: 10px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.toe {
  text-align: left;
  margin-bottom: 0;
  padding: 10px;
}