@media (max-width: 1200px) {

  h1 {
    font-size: 80px !important;
  }

  h2 {
    font-size: 40px !important;
  }

  p {
    font-size: 25px !important;
  }

  .border {
    box-sizing: border-box;
    padding: 0px 120px !important;
  }


}

@media (max-width: 800px) {
  h1 {
    font-size: 50px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  p {
    font-size: 20px !important;
  }

  .border {
    box-sizing: border-box;
    padding: 0px 80px !important;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 50px !important;
  }

  h2 {
    font-size: 16px !important;
  }

  p {
    font-size: 14px !important;
  }

  .border {
    box-sizing: border-box;
    padding: 0px 60px !important;
  }
}

body {
  font-family: "Courier New", Courier, monospace;
  margin-top: 50px;
  background-color: black;
}

.border {
  border-right: 3px solid black;
  border-left: 3px solid black;
  background-color: lightgray;
  padding: 0px 140px;
}

.box {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 30px;
  color: black;
  background-color: rgb(221, 221, 221);
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  max-width: 810px;
  width: 810px;
  height: 80px;
  padding: 10px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background-color: rgb(221, 221, 221);
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  max-width: 830px;
  width: 830px;
}

p {
  font-size: 14px;
  max-width: 700px;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 400px;
  padding: 0px 100px;
}