@media (max-width: 2000px) {

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.5em !important;
  }

  .border {
    box-sizing: border-box;
    padding: 0px 60px !important;
  }


}

@media (max-width: 400px) {
  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.7em !important;
  }

  .border {
    box-sizing: border-box;
    padding: 0px 20px !important;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, lightgrey 20%, #a9a9a9 30%, #696969 49%, black 80%);
  z-index: -1;
}

.border {
  background-color: lightgrey;
  border: 4px solid black;
  padding: 0px 180px;
  margin: 0px;
  width: 100%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 4 / 3;
}

.border img {
  max-width: 100%;
  height: auto;
  display: block;
}

.darkness {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  height: auto;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

.box {
  display: flex;
  justify-content: center;
}

p {
  font-size: 18px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  width: 900px;
  max-width: 900px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  max-width: 800px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

h2 {
  color: white;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  font-weight: bold;
}

h3 {
  color: white;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  font-weight: bold;
  text-decoration: double;
}

a {
  color: rgb(0, 149, 255);
}

a:visited {
  color: #ff00ea;
}

a:hover {
  color: #00d0ff;
}

a:active {
  color: #ff0000;
}